@import './mixin.scss';

// 不可被用户更改的布局变量存放在此处
$headerHeight: 46px;
$footerHeight: 70px;

$fontSize: 16px; // 字体整体大小
$headerBackColor: #40485b;
$headerColor: #d4d4d4;

$itemIconColorActive: #fff;
$itemIconColorHover: #eee;
$itemTextColorActive: #fff;
$itemTextColorHover: #eee;
